<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
      	<h2 class="page-header">{{ ctrl.log.name }}</h1>
      	<h4>{{ ctrl.log.info }}</h3>
      </div>
      <div class="row">
	    <div class="well">
	      <p ng-repeat="output in ctrl.log.output">{{ output }}<p><br>
	    </div>
      </div>
      <div class="row">
	      <nav>
			  <ul class="pagination">
			    <li ng-show="ctrl.log.position !== 0">
			      <a href="#" aria-label="Previous" ng-click="ctrl.navigate('PREV')">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li>
			      <a href="#" ui-sref="main">Overview</a>
			    </li>
			    <li ng-show="ctrl.log.position !== ctrl.logs.length-1">
			      <a href="#" aria-label="Next" ng-click="ctrl.navigate('NEXT')">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
		  </nav>
	  </div>
    </div>
  </div>
</div>